@page "/edit/{id:int}"
@model EditGadgetModel

<div>
    <form method="POST">
         <input asp-for="GadgetToUpdate.Id" type="hidden" class="form-control" id="txtProductName" >
        <div class="mb-3">
            <label for="txtProductName" class="form-label">Product Name</label>
            <input asp-for="GadgetToUpdate.ProductName" type="text" class="form-control" id="txtProductName" >
        </div>
        <div class="mb-3">
            <label for="txtBrand" class="form-label">Brand</label>
            <input asp-for="GadgetToUpdate.Brand" type="text" class="form-control" id="txtBrand">
        </div>
        <div class="mb-3">
            <label for="txtCost" class="form-label">Cost</label>
            <input asp-for="GadgetToUpdate.Cost" type="text" class="form-control" id="txtCost">
        </div>
        <div class="mb-3">
            <label for="txtType" class="form-label">Type</label>
            <input asp-for="GadgetToUpdate.Type" type="text" class="form-control" id="txtType">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>